[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
psycopg2 = "*"
graphene-django = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.8"
